@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: #fff;
  --primary: #000000;
  --secondary: #ffffff;
  --mayday: #2a449e;
  --mayday-darker:  #010136;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    /* --primary: #ffffff;
    --secondary: #000000; */
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Only prevent horizontal scroll */
}

main {
  padding: 0 !important;
  margin: 0 !important;
}

.title {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 800;
}
