@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: #fff;
  --primary: #419fca;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
}

.title {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 800;
}
